name: Build and Release Workflow For Api

on:
  workflow_call:
  
permissions:
  contents: write
  
jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./web
        
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node
        uses: actions/setup-node@v4.0.3
        with:
          node-version: 20.x
          cache: 'pnpm'
          
      - name: pnpm build
        run: pnpm i && pnpm build

      - name: tar
        run: cd web && tar -czvf ../web.tar.gz */*
        
      - name: Upload release assets
        uses: softprops/action-gh-release@v2.0.8
        if: startsWith(github.ref, 'refs/tags/')
        with: 
          files:
            web.tar.gz
